@font-face {
  font-family: Montserrat;
  src: url('Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
    font-family: Domine;
    src: url('Domine-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    src: url('helvetica-oblique-webfont.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: Arial;
    src: url('ARIAL.woff') format('woff');
    font-style: normal;
}
